In [72]:
# Importar bibliotecas
import pandas as pd
import numpy as np

In [ ]:
# Importar  o conteúdo do ficheiro csv para um dataframe.
df = pd.read_csv("train.csv")
df

In [ ]:
# Visualize as primeira 5 linhas do Dataframe para ter uma ideia dos dados.
df.set_index("Row ID")
df.head()

In [75]:
# Verifique o número de linhas e colunas do DataFrame
df.shape
registos = df.shape[0]

In [ ]:
# Obtenha um resumo da Informações do DataFrame, incluindo tipos de dados e
# valores não nulos.
df.info()

In [ ]:
# Visualize as estatisticas descritivas das colunas numéricas.
df.describe()

In [ ]:
# Identifique quantas valores nulos existem em cada coluna.
df.isnull().sum().to_frame("Total Nulos")

In [87]:
df["Order Date"] = pd.to_datetime(df["Order Date"], dayfirst=True)
df["Ship Date"] = pd.to_datetime(df["Ship Date"], dayfirst=True)

In [ ]:
df.info()

In [ ]:
# Filtragem por máscaras booleanas
# Selecione todas as vendas que ocorrem na região Sul.
mask = df["Region"] == "South"
df[mask]

In [ ]:
# Encontre todas as vendas da categoria
# 'Furniture' com vendas superiores a 500.
mask01 = df["Category"] == "Furniture"
mask02 = df["Sales"] > 500
df[mask01 & mask02]

In [ ]:
# Utilize o método .query() para obter as mesmas vendas da
#categoria 'Office Supplies'
#que ocorreram no estado da 'California'.
df.query("Category == 'Office Supplies' & State == 'California'")

In [ ]:
# Utilize o método .query() para obter as mesmas vendas da
#categoria 'Technology' que ocorreram no estado da 'Washington'.
# mas apresentando apenas as colunas Customer Name, Product Name e Sales.
(
df
.query("Category == 'Technology' & State == 'Washington'")
[["Customer Name", "Product Name", "Sales"]]
)

In [ ]:
# Vendas entre 100 e 500 e
# Ship Mode 'First Class', mas apresentando
# somente as colunas Order ID, Product Name, Sales e Ship Mode.
(
    df
    .query("100 <= Sales <= 500 & `Ship Mode` == 'First Class'")
    [["Order ID", "Product Name", "Sales", "Ship Mode"]]
)

In [ ]:
# Ordene o DataFrame pelas vendas em ordem decrescente.
df.sort_values("Sales", ascending=False)[["Row ID", "Sales"]].head(10)

In [ ]:
# Ordene o DataFrame primeiro por categoria (ascendente)
# e depois por vendas (decrescente).
df.sort_values(["Category", "Sales"], ascending=[True, False]).head(10)

In [ ]:
# Calcule as vendas totais de to o dataset.
total = df["Sales"].sum()
print(f"Total de vendas é de {total}")

In [ ]:
# Encontre as vendas médias por segmento.
df.groupby("Segment")["Sales"].mean().round(2)

In [ ]:
# Calcule as vendas totais e a contagem do número
# de encomendas por região e categoria.
(
    df.groupby(["Region", "Category"])
    .agg(
        Total_Vendas = ("Sales", "sum"),
        No_Encomendas = ("Row ID", "count")
    )
)

In [ ]:
# Para cada subcategoria, encontre a maior venda,
# a menor venda e a média das vendas.
(
    df.groupby("Sub-Category")
    .agg(
        Maior_Venda = ("Sales", "max"),
        Menor_Venda = ("Sales", "min"),
        Média_de_Vendas = ("Sales", "mean")
    )
)

In [ ]:
# Calcule as vendas totais por ano (Order Date).
df["Year"] = df["Order Date"].dt.year
df.groupby("Year")["Sales"].sum().round(2)

In [ ]:
# Identifique o mês com as maiores Sales totais.
df["Month"] = df["Order Date"].dt.month_name()
df[["Order Date", "Year", "Month", "Sales"]]
df.groupby("Month")["Sales"].sum().idxmax()